site_name: operationcounter
site_url: https://goessl.github.io/operationcounter/
site_author: Sebastian Gössl
site_description: An arithmetic operation counting package.

repo_name: goessl/operationcounter
repo_url: https://github.com/goessl/operationcounter

copyright: Copyright &copy; 2025 Sebastian Gössl

nav:
  - Home: index.md
  - OperationCounter: operationcounter.md
  - Accumulators: accumulators.md

theme:
  name: material
  features:
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/goessl/
      name: goessl on Github
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/lordgoessl/
      name: goessl on Instagram

plugins:
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          show_root_toc_entry: no
          members_order: source
          show_symbol_type_heading: yes
          show_signature_annotations: yes
          separate_signature: yes
          docstring_style: numpy
          docstring_section_style: table

markdown_extensions: #only for material, not for readthedocs
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
